*{
margin: 0;
padding: 0;
}

body{
background: url(images/1.jpg);
}

.header{
opacity: 0.9;
background-color: #008B8B;
height: 177px;
font-size: 0.9em;
margin-left: 0px;
margin-right: 0px;
min-width: 400px;
}

.main,.logo,.menubar,.site_content,.footer{
	margin-right: auto;
	margin-left: auto;
}

.logo{
	width: 880px;
	padding-bottom: 40px;
}

.logo h1,.logo h2{
	font: normal 300% 'century gothic',arial,sans-serif;
	margin: 0 0 0 9px;	
}

.logo-text h1 ,.logo-text h1 a,.logo-text h1 a:hover{
	padding: 22px 0 0 0;
	color: #fff;
	letter-spacing: 0.1em;
	text-decoration: none;
}

.logo-text h2{

	font-size: 0.9em;
	padding: 4px 0 0 0; 
	color: #fff;
} 

.menubar{
	width: 900px;
	height: 46px;
}

ul.menu{
	float: right;
}

ul.menu li {
	float: left;
	padding: 0 0 0 9px;
	list-style: none;
	margin: 1px 2px 0 0;
}

ul.menu li a {
font: normal 100% 'trebuchet ms',sans-serif;
height: 20px;
display: block;
padding: 6px 35px 5px 28px;
color: #fff;
text-decoration: none;	
}

	
ul.menu li a:hover{
color:black;
}

.site-content{

	width: 1050px;
	overflow: hidden;
	margin: 20px auto 0 auto;
}

.sitebar-container{

	float: right;
	width: 270px;

}

.sitebar{
	float: right;
	width: 222px;
	padding: 6%;
	margin-bottom: 6%;
	border: solid 1px  #C0C0C0;
	border-radius: 5px;
	background-color: #f9f9f9; 
}

input[type="text"],input[type="password"],input[type="search"]{
	color: black	;
	width: 54%;
	padding: 9px;
	margin: 2px;
	margin-bottom: 5%;
}

input,textarea {
	outline: none;
	border: solid 4px #f2f2f2;
}

.sitebar p{
	margin: 14px;
	padding-top: 8px;
	padding: 0.5%;
}


.sitebar .btn{
padding: 9px;
cursor: pointer;
background-color: #fff;
width: 66px;
margin-bottom: 2%;
}

h1,h2{
font:normal  170% 'century gothic',arial);
margin: 0 0 15px 0;
padding: 15px 0 5px 0;
color: #000; 
width: 60%;
}

h2{
	font-size: 120%;
}

.sitebar h2{
color: #008B8B;

}

.sitebar a {
text-decoration: none;
margin: 5px;
padding-top: 8px;
}

a,a:hover{
outline: none;
text-decoration: underline;
color:  #1E90FF;
	
}


.footer{
text-align: center;
width: 100%;
height: 75px;
margin: 0;
background-color: #008B8B;
margin-right: 0px;
margin-left: 0px;
min-width: 1000px;
padding: 2px 0 15px 0;
opacity: 1;
}

.footer a{
	text-decoration: none;
	color: white;
}

.footer p{
padding-top: 8px;
color: black;
}




.content h2{
    color: #fff;
    font-size: 1.2em;
    padding: 4px 0 0 0;
}

 .content h1{
    color: #fff;
    letter-spacing: 0.1em;
    padding: 4px 0 0 0;
}

	img.big {
	cursor: pointer;
	max-width: 600px;
	}
	

	.send h1{
	 padding: 22px 0 0 0;
    color:  black;
    letter-spacing: 0.1em;
	}
	.send h2{
		font-weight:  'PT Serif',Georgia,serif;
		font-size: 100%;
    padding: 4px 0 0 0;
    color: black;
	}

	.send {
		background-color: rgba(255,255,255,.9);
		margin-bottom:5%;
		float: left;
		border:solid 2px #C0C0C0;
		width: 61%;
		padding: 5%;

	}
 .send-1{
	    background-color: rgba(255,255,255,.9);
    margin-bottom: 5%;
    float: left;
    border: solid 2px #C0C0C0;
    width: 61%;
    padding: 5%;
}

.send-1 input[type="text"]{
	color: black	;
	width: 80%;
	padding: 9px;
	margin: 2px;
	margin-bottom: 5%;
}

	.send input = [type="text"],textarea{
		border: solid 1px black;
		margin-bottom: 2%;
	}

	.send input[type="text"]{

		width: 80%;
		font-size: 1em;
		}

	.send textarea{
	width: 83%;
	height: 150px;
	}

	.send input[type="submit"]
	{
	background-color:#008B8B;
	opacity: 0.87;
			cursor: pointer;
		border-radius: 2px ;
		padding: 2%;
		font-size: 14px;
		display: block;
	}

.send .name{
	margin-bottom: 10px;
	color: black;
}

.content a {
	text-decoration: none;
	color: #fff;
}	



.send .name-login{
border: 

}


.submit-1 .submit-2{
	width: 180px;
	border: 1px solid #A9A9A9;
	padding: 2%
	margin-left: 80px;
}


ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #008B8B;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: white;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 140px;
    top: 40px;
    background-color: #008B8B;
    border: 1px solid #008B8B;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color:#008B8B;
    opacity: 0.9;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: none;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

.comment{
width: 514px;
margin-bottom: 3%;
background-color: white;
border-radius: 4px;
padding: 1.6%;
border: solid 3px white;
}

#scrollup {
position: fixed; /* фиксированная позиция */
margin-right: 15px;
border-radius: 100px; /* скругление углов */
right: 16px; /* отступ слева */
bottom: 10px; /* отступ снизу */
cursor: pointer;
}

#review{
	width: 100%;
}

#review .ide-age{
	width: 15%;
	font-size: 1.4em;
}


#review .date-age{	
	margin: 6px;
	display: inline-block;
}

#review  .month{
	width: 50%;
	font-size: 1.4em;
}

#review .name .name-sol{
	border: 1px solid #A9A9A9;
}

#review .surname .surname-sol{
	border: 1px solid #A9A9A9;	
}

#review .surname p{
	padding: 0.7%;
	display: inline-block;
}


#review .name p{
	padding: 3.2%;
	margin: 0.1%;
	display: inline-block;
}

#review .sex p{
	padding: 3.2%;
	margin: 0.1%;
	margin-bottom: 2%;
	display: inline-block;
}

.number p{
	margin-bottom: 2%;
	padding: 18px;
	display: inline-block;
}

select { 
	outline-style: none;	
	font-size: 96%;
	width: 19%;
	padding: 1.3%;
}

#review .e-mail-2 p{
margin-bottom: 2%;
padding: 15.5px;
}

#review .e-mail-1 p{
margin-bottom: 2%;
padding: 10px;
}

#review .e-mail-3 p{
margin-bottom: 2%;
padding: 2px;
}


.e-mail-2 input[type="text1"]
	{
	   border: 1px solid #A9A9A9;
	width: 50%;
	font-size: 1em;
	padding: 9px;
	margin-bottom: 2%;
}

.e-mail-1 input[type="text1"]
	{
	   border: 1px solid #A9A9A9;
	width: 50%;
	font-size: 1em;
	padding: 9px;
	margin-bottom: 2%;
}

.e-mail-3 input[type="text1"]
	{
	   border: 1px solid #A9A9A9;
	width: 50%;
	font-size: 1em;
	padding: 9px;
	margin-bottom: 2%;
}



.checkbox .checkbox-1{
margin-left: 80px;
-ms-transform: scale(1);
 -moz-transform: scale(1); 
 -o-transform: scale(1); 
 width: 18px;
 height: 18px;
}

.checkbox p{
	
	padding: 7px;
	display: inline-block;
}


.submit-1 input[type="submit"]
	{
		background-color:#008B8B;
		opacity: 0.87;
		cursor: pointer;
		border-radius: 2px ;
		padding: 2%;
		font-size: 14px;
		display: block;
	margin-left: 80px;	
	}



.thumbs {
  width: 100%;
  max-width: 700px; 
  margin: 5px;
  opacity: .99;
  overflow: hidden;
  margin-bottom: 5%;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.thumbs:before {
  content: '';
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.thumbs img {
  width: 100%; /* ширина картинки */
  height: auto; /* высота картинки */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.thumbs .caption {
  width: 100%;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  text-align: center;
}
.thumbs .caption span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.thumbs .caption .title {
  line-height: 1;
  font-weight: normal;
  font-size: 18px;
}
.thumbs .caption .info {
  line-height: 1;
  margin-top: 2px;
  font-size: 15px;
  padding: 5%;
}
.thumbs:focus:before,
.thumbs:focus span, .thumbs:hover:before,
.thumbs:hover span {
  opacity: 1;
}
.thumbs:focus:before, .thumbs:hover:before {
  top: 50%;
}
.thumbs:focus span, .thumbs:hover span {
  top: 0;
}
.thumbs:focus .title, .thumbs:hover .title {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.thumbs:focus .info, .thumbs:hover .info {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

 .password-forgot{
	    background-color: rgba(255,255,255,.9);
    margin-bottom: 5%;
    float: left;
    border: solid 2px #C0C0C0;
    width: 61%;
    padding: 5%;
}
.password-forgot .forgot {
	    border: 1px solid #A9A9A9;
	    width: 60%;
	    padding: 1.7%;
}


.password-forgot h1{
	margin-bottom: 1%;

}

.password-forgot h2{
	font-size: 120%;
width: 100%;
}


.password-forgot h1{
	font-size: 30px;

}
.password-forgot .forgot-sub{
	background-color: #008B8B;
    opacity: 0.87;
    cursor: pointer;
    border-radius: 2px;
    padding: 1.5%;
    font-size: 14px;
    display: block;
}